<footer class="footer">
	<div class="footer__container container">
		<div class="footer__logo logo">
			<img src="images/footer-image.svg" alt="лого"><img src="images/footer-name.svg" alt="лого">
		</div>
		<ul class="footer__list">
			<li class="footer__list-item"><a href="#" class="footer__list-link">artcam.online</a></li>
			<li class="footer__list-item"><a href="mailto:artcam.online@gmail.com" class="footer__list-link">artcam.online@gmail.com</a></li>
			<li class="footer__list-item"><a href="tel:+77775584422" class="footer__list-link">+ 7 777 558 4422</a></li>
		</ul>
	</div>
</footer>