.door{
    max-width: 1180px;
    margin: 0 auto;
    padding: 60px 80px 45px;
    background-color: #F4F4F4;
    position: relative;
  
    .close{
      content: " ";
      border: none;
      padding: 0;
      cursor: pointer;
      position: absolute;
      right: 40px;
      top: 30px
    }
  
    &-top{
      display: flex;
      margin-bottom: 30px;
    }
  
    &__left{
      margin-right: 20px;
      
    }
  
    &__img{
      margin-bottom: 35px;
      object-fit: cover;
      background-color: #fff;
      border-radius: 10px;
      padding: 12px 42px;
      
    }  
  
    &__title{
      margin-bottom: 15px;
      font-weight:700;
      font-size:16px;
      line-height: 140%;
      color: #3F4142B2;
    }
  
    .door__list{
       padding-left: 15px;
      &-item{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #3F4142B2;
       
      }
    }
  
    &__right{
      background-color: #fff;
      width: 800px;
      border-radius: 10px;
  
    }
    &__items{
      display: flex;
      justify-content: space-around;
      padding-top: 30px;
    }
  
  
  
    &__info{
      display: flex;
      justify-content: flex-end;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #3F4142B2;
  
      & + .door__info{
        margin-top: 15px;
      }
    }
  
  
    &__total{
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #3F4142B2;
      margin-bottom: 65px;
      text-align: right
    }
  
    &__span{
      font-weight: 700;
    }
  
    &__box{
      display: flex;
      justify-content: flex-end;
    }
  
    .back{
      color: #A6775B;
     padding: 8px 97px;
     border: 1px solid #A6775B;
     border-radius: 5px;
     font-weight: 500;
     font-size: 16px;
     line-height: 140%;
     cursor: pointer;
     margin-right: 20px;
    }
  
    .download{
      padding: 8px 65px;
      background-color:  #A6775B;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      border: 2.5px solid #A6775B;
    }
  
  }
  
  