.parameters {
    margin-bottom: 40px;
}

.parameters__aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 20px 20px;
    width: 280px;
    min-height: 100%;
    background: #ffffff;
    border-radius: 10px;
    input {
        border: 2px solid #e8e8e8;
        height: 38px;
        padding-left: 15px;
        padding-top: 2px;
        font-weight: 600;
        font-size: 14px;
        color: #a0a0a0;
    }
}
.parameters__center-content {
    width: 580px;
    height: 624px;
    background: #fafafa;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.07);
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}
.parameters__center-tabs {
    display: flex;
}
.parameters__center-tab-item {
    span:nth-child(1) {
        font-weight: 700;
        pointer-events: none;
    }
    font-size: 16px;
    color: rgba(63, 65, 66, 0.7);
    border-radius: 10px 10px 0px 0px;
    background: #efefef;
    width: 167px;
    height: 44px;
    &.active {
        background-color: #fafafa;
    }
}
.active {
}
.parameters__tab {
    margin-bottom: 21px;
}
.parameters__center {
    &-item {
        display: none;
        &.active {
            display: block;
        }
    }
}
.parameters__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    // &.active {
    //     max-height: 100%;
    // }
}
.parameters__container {
    display: flex;
    justify-content: space-between;
}
.parameters__add-button {
    height: 38px;
    border: 1px solid #a6775b;
    border-radius: 5px;
    width: 100%;
    @include flex-center;
    font-weight: 500;
    font-size: 16px;
    color: $brown;
}
.parameters__line {
    margin: 21px 0;
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
}
.parameters__tab-button {
    margin-bottom: 15px;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    position: relative;
    width: 100%;
    text-align: left;
    &.active {
        &::after {
            transform: rotate(0deg);
        }
    }
    &::after {
        content: "";
        position: absolute;
        background-image: url(../images/appereance.svg);
        width: 10px;
        height: 5px;
        right: 0;
        top: 50%;
        transition: 0.3s all;
        transform: translateY(-50%);
        transform: rotate(-90deg);
    }
}
.parameters__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 20px 20px;

    width: 280px;
    max-height: 454px;
    background: #ffffff;
    border-radius: 10px;
    &-title {
        margin-top: 21px;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: rgba(63, 65, 66, 0.7);
    }
    &-list {
        margin-top: 11px;
        padding-left: 17px;
        li {
            font-size: 16px;
            line-height: 150%;
            color: rgba(63, 65, 66, 0.7);
            list-style-type: decimal;
            margin-bottom: 2px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-image {
        margin-top: 21px;
        width: 100%;
        height: 242px;
        background: #ffffff;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        @include flex-center;
        img {
            width: 136px;
            height: 214px;
        }
    }
    &-button {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 13px;
        width: 100%;
        height: 38px;
        background: #a6775b;
        border-radius: 5px;
    }
}
.parameters__title {
    margin-bottom: 7px;
    display: inline-block;
    font-size: 14px;
    color: #1d1d1d;
}
.parameters__length {
    input {
        width: 100%;
    }
}
.parameters__sizes {
    .input-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .counter {
            font-size: 12px;
            color: #1d1d1d;
            font-weight: 500;
        }
    }
    input {
        width: 112px;
        margin-bottom: 7px;
        display: inline-block;
    }
}

.details {
    .input-box {
        input {
            width: 61px;
        }
    }
}
.select-wrapper-parameters {
    margin-top: 29px;
}
.parameters__remainder {
    &-warrning {
        position: relative;
        font-weight: 600;
        font-size: 9px;
        line-height: 12px;
        color: #a0a0a0;
        padding-left: 20px;
        &::after {
            top: 0;
            position: absolute;
            content: "";
            left: 0;
            background-image: url(../images/warrning.svg);
            width: 14px;
            height: 14px;
        }
    }
    &-title {
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 700;
    }
    width: 100%;
    &-box {
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 21px 17px 10px;
        border: 2px solid #e8e8e8;

        span {
            font-size: 14px;
            display: inline-block;
            margin-bottom: 10px;
            color: #a0a0a0;
        }
    }
}
