.profile {
    padding-bottom: 87px;
    margin-top: 14px;
}

.profile__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.profile__box {
    display: flex;
    flex-direction: column;
    padding: 44px 60px;
    height: 374px;
    width: calc(50% - 20px);
    background-color: #fff;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    &.big {
        width: 100%;
        margin-top: 23px;
        .profile__box-title {
            margin-bottom: 7px;
        }
    }
}
.profile__box-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 37px;
    color: rgba(63, 65, 66, 0.7);
}
.profile__box-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    &:last-child {
        margin-bottom: 0;
    }
    label {
    }
    input {
        width: 254px;
        padding: 17px 21px 17px 15px;
        height: 38px;
        border: 2px solid #e8e8e8;
        font-weight: 600;
        font-size: 14px;
        color: #3f4142;
    }
    span {
        font-size: 16px;
        line-height: 150%;
        color: #3f4142;
    }
}
.profile__box-text {
    margin-bottom: 21px;
    font-size: 14px;
    color: rgba(63, 65, 66, 0.4);
}
.profile__button {
    max-width: 254px;
    width: 100%;
    padding: 8px 13px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    @include flex-center;

    background: #a6775b;
    border-radius: 5px;
    margin-top: auto;
    align-self: flex-end;
}
.profile__box-parameters {
    display: flex;
    justify-content: flex-start;
}
.profile__box-parameters-delete {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    align-self: flex-end;
    margin-bottom: 10px;
}
.profile__box-parameters-item {
    &:nth-of-type(-n + 2) {
        margin-right: 29px;
    }
    label {
        display: flex;
        flex-direction: column;
        input {
            font-weight: 600;
            font-size: 14px;
            color: #a0a0a0;
            padding: 17px 21px 17px 15px;
            width: 270px;
            height: 38px;
            border: 2px solid #e8e8e8;
            box-sizing: border-box;
        }
        span {
            font-size: 14px;
            color: #1d1d1d;
            display: inline-block;
            margin-bottom: 10px;
        }
    }
}
.profile__box-parameters-add {
    margin-top: 29px;
    padding: 8px 30px;

    width: 240px;
    height: 38px;

    border: 1px solid #a6775b;
    border-radius: 5px;

    font-weight: 500;
    font-size: 16px;
    color: #a6775b;
}
