.select__box {

    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.select__wrapper {
    position: relative;
    z-index: 21;
    width: 100%;
    max-width: 280px;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}
.select__header {
    padding: 8px 20px;
    height: 38px;
    border: 1px solid rgba(63, 65, 66, 0.7);
    border-radius: 5px;
    max-width: 280px;
    width: 100%;
    position: relative;
    span {
        pointer-events: none;
        user-select: none;
    }
    &.active {
        &::after {
            transform: rotate(0deg);
        }
    }
    &::after {
        content: "";
        position: absolute;
        right: 20px;
        background-image: url(../images/appereance.svg);
        width: 10px;
        height: 5px;
        top: 15px;

        transform: rotate(-90deg);
        transition: 0.3s all;
    }
}
.select__header-title {
    font-size: 16px;
    line-height: 120%;
    color: rgba(63, 65, 66, 0.7);
}
.select__header-pick {
    font-size: 16px;
    line-height: 120%;
    color: rgba(63, 65, 66, 0.7);
    font-weight: 500;
}
.select__dropdown {
    background-color: #e5e5e5;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    max-width: 280px;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 21;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
.select__dropdown-item {
    &:hover {
        background-color: #fafafa;
    }
    border-bottom: 1px solid black;
    &:last-child {
        border: 0;
    }
    font-size: 16px;
    line-height: 150%;
    padding: 8px 20px;
    color: rgba(63, 65, 66, 0.7);
    transition: 0.3s all;
}